<main>
	<div class="row ">
		<div class="col-4"></div>
		<div class="col-4 text_c">

			<%=form_for @listing do |form|%>
				<div class="form-group">
					<%= render partial: '/listings/form', object: form %>			  			 
				  <%= form.submit :Create, class:"btn btn-outline-primary float-right" %>			  
				</div>
			<%end%>



		</div>
		<div class="col-4"></div>


	</div>

</main>


