// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

}

nav{
    // box-shadow: 5px 5px 5px #999; 
    // -moz-box-shadow: 5px 5px 5px #999;
    // -webkit-box-shadow: 5px 5px 5px #999;
}

.container{
}

a:link{
	 text-decoration:none;
}

.btn-container{
}


main{
	padding-top: 5em;
}

.text_c{

}

img{
	width: 100%;
}

#show_bot_nav{
	height: 5em;
	box-shadow: 0 4px -2px 2px gray;
}

#wide-btn{
	width: 20em;
}