// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

}

nav{
    // box-shadow: 5px 5px 5px #999; 
    // -moz-box-shadow: 5px 5px 5px #999;
    // -webkit-box-shadow: 5px 5px 5px #999;
}

.container{
}

a:link{
	 text-decoration:none;
}

.btn-container{
}


main{
  padding-top: 5em;
	padding-bottom: 10em;
}

.text_c{

}

img{
	width: 100%;
}

#show_bot_nav{
	height: 5em;
	box-shadow: 0 4px -2px 2px gray;
}

#wide-btn{
	width: 20em;
}


.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 20em !important;
}

.bot-padding{
  padding-bottom: 3em
}


#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.full-length{
  width: 100%;
}
.listing-house-top{
  background-image: url("listing-house-top2.jpg");
  height: 50em;
  background-size: contain;
  padding: 50px;
}

.listing-search-form-box{
  padding: 20px;
  max-width: 40em;
  background-color: white;
  border-radius: 5px;
}